/*
===============
Fonts
===============
*/
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");

/*
===============
Variables
===============
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: hsl(306, 86%, 17%);
  --clr-primary-2: hsl(306, 77%, 27%);
  --clr-primary-3: hsl(306, 72%, 37%);
  --clr-primary-4: hsl(306, 63%, 48%);
  /* primary/main color */
  --clr-primary-5: #e949d6;
  /* lighter shades of primary color */
  --clr-primary-6: hsl(306, 89%, 70%);
  --clr-primary-7: hsl(306, 90%, 76%);
  --clr-primary-8: hsl(306, 86%, 81%);
  --clr-primary-9: hsl(306, 90%, 88%);
  --clr-primary-10: hsl(306, 100%, 96%);
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(300, 100%, 0%);
  --clr-grey-2: hsl(284, 39%, 23%);
  --clr-grey-3: hsl(283, 35%, 30%);
  --clr-grey-4: hsl(290, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(289, 22%, 49%);
  --clr-grey-6: hsl(296, 23%, 60%);
  --clr-grey-7: hsl(287, 27%, 70%);
  --clr-grey-8: hsl(294, 31%, 80%);
  --clr-grey-9: hsl(290, 32%, 89%);
  --clr-grey-10: hsl(291, 33%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-secondary: hsl(328, 100%, 54%);
  --clr-black: #222;
  --ff-primary: "Roboto", sans-serif;
  --ff-secondary: "Georgia", sans-serif;
  --transition: all 0.3s linear;
  --spacing: 0.25rem;
  --radius: 0.5rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}
/*
===============
Global Styles
===============
*/
html {
  scroll-behavior: smooth;
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-grey-10);
  color: var(--clr-grey-1);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img:not(.logo) {
  width: 100%;
}
img {
  display: block;
}

h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-family: var(--ff-primary);
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-5);
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

.btn {
  text-transform: uppercase;
  background: transparent;
  color: var(--clr-black);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid var(--clr-black);
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-white);
  background: var(--clr-black);
}
.btn-white {
  color: var(--clr-white);
  border-color: var(--clr-white);
  border-radius: 0;
  padding: 0.5rem 1rem;
}
.btn:hover {
  background: var(--clr-white);
  color: var(--clr-secondary);
}
/* section */
.section {
  padding-bottom: 5rem;
}

.section-center {
  width: 100vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
main {
  min-height: 100vh;
  display: grid;
  place-items: center;
}
/*
===============
Scroll
===============
*/
/* navbar */
nav {
  background: var(--clr-white);
  padding: 1rem 1.5rem;
}
/* fixed nav */
.fixed-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--clr-white);
  box-shadow: var(--light-shadow);
}
.fixed-nav .links a {
  color: var(--clr-grey-1);
}
.fixed-nav .links a:hover {
  color: var(--clr-secondary);
}
/* .fixed-nav .links-container {
  height: auto !important;
} */
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav-toggle {
  font-size: 1.5rem;
  color: var(--clr-grey-1);
  background: transparent;
  border-color: transparent;
  transition: var(--transition);
  cursor: pointer;
}
.nav-toggle:hover {
  color: var(--clr-secondary);
}
.logo {
  height: 50px;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
.show-links {
  height: 200px;
}
.links a {
  background: var(--clr-white);
  color: var(--clr-grey-5);
  font-size: 1.1rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  display: block;
  transition: var(--transition);
  font-weight: bold;
  padding: 0.75rem 0;
}
.links a:hover {
  color: var(--clr-grey-1);
}
@media screen and (min-width: 800px) {
  nav {
    background: transparent;
    background-color: hsl(306, 62%, 88%);
  }
  .nav-center {
    width: 90vw;
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .nav-header {
    padding: 0;
  }
  .nav-toggle {
    display: none;
  }
  .links-container {
    height: auto !important;
  }
  .links {
    display: flex;
  }
  .links a {
    background: transparent;
    color: var(--clr-white);
    font-size: 1.1rem;
    text-transform: capitalize;
    letter-spacing: var(--spacing);
    display: block;
    transition: var(--transition);
    margin: 0 1rem;
    font-weight: bold;
    padding: 0;
  }
  .links a:hover {
    color: var(--clr-white);
  }
}
/* hero */
header {
  min-height: 100vh;
  background: linear-gradient(rgba(63, 208, 212, 0.5), rgba(0, 0, 0, 0.7)); /*,
    url(./hero-bcg.jpeg) center/cover no-repeat; */
}
.banner {
  min-height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
  background-color:black;
}
.container h1 {
  color: var(--clr-white);
  text-transform: uppercase;
}
.container p {
  color: var(--clr-white);
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 1.25rem;
}
.container span {
    color:deeppink;
    font-style: italic;
}

.svg-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.svg-container svg {
  max-width: 100%;
  max-height: 100%;
}

@media screen and (min-width: 768px) {
  .container p {
    max-width: 40rem;
  }
}
/* sections and title */
.title h2 {
  text-align: center;
  text-transform: uppercase;
}
.title span {
  color: var(--clr-secondary);
}
#viz,
#matching {
  height: 90vh;
}
#team {
  height: 40vh;
}
#matching {
  background: var(--clr-white);
}

#team p {
  color: black;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
  margin-left: 35px;
  margin-top: 35px;
}

footer {
  background: var(--clr-grey-1);
  padding: 5rem 1rem;
}
footer p {
  color: var(--clr-white);
  text-align: center;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
  margin-bottom: 0;
}

.top-link {
  font-size: 1.25rem;
  position: fixed;
  bottom: 3rem;
  right: 3rem;
  background: var(--clr-secondary);
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: var(--radius);
  color: var(--clr-white);
  animation: bounce 2s ease-in-out infinite;
  visibility: hidden;
  z-index: -100;
}
.show-link {
  visibility: visible;
  z-index: 100;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

/* slideshow */

* {box-sizing:border-box}

.slideshow-container {
  max-width: 1500px;
  position: relative;
  margin: auto;
}

.plotSlides {
  display: none;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: deeppink;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 1s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

.fade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* age range */

.age-slider {
  width: 100%;
}

.age-slider.topLeft {
  position: relative;
  bottom: 370px;
  left: 50px;
}

.age-slider.relative {
  position: relative;
}

.slider {
  -webkit-appearance: none;
  border-radius: 10px;
  appearance: none;
  width: 15%;
  height: 20px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 35px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: url("../docs/heart.png"); /* Green background */
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
/*  background-color: pink; */
  background-origin: content-box;
  cursor: pointer; /* Cursor on hover */
  z-index: 1;
}

/*
.slider::-moz-range-thumb {
  width: 25px; /* Set a specific slider handle width */ /*
  height: 25px; /* Slider handle height */ /*
  border: 0;
  background: url('../docs/heart.png'); /* Green background */ /*
  cursor: pointer; /* Cursor on hover */ /*
}  */

.age-input {
  appearance: none;
  background-color: pink;
  border: 2px solid pink;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display:inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  width: 4%;
  font-family: var(--ff-secondary);
}

.age-input.label {
  width: 10%;
  cursor: auto;
}



/* button style */
.button {
  appearance: none;
  background-color: deeppink;
  border: 2px solid deeppink;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display:inline-block;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
  margin: 0 auto;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 6px 14px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 10%;
  will-change: transform;
  font-family: var(--ff-secondary);
  /*
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); */

}

.button:disabled {
  pointer-events: none;
}

.button:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: none;
  transform: translateY(0);
}

form  {
    margin: 60px 0 0 0 !important;
 }

/* slider */

#slider-range {
    margin: -20px 30px;
    background: deeppink;
    width: 18em;
    height: 1em;
    background-color: pink;
    color: deeppink;
    border: none;
    padding: 4px 4px 0 0;
    transform: translate(20px, -90px);
}

#slider-range .ui-slider-handle {
  background: transparent url("../docs/pink-heart.svg") 50% 50% no-repeat;
  width: 30px;
  height: 30px;
  border: none;
}

#slider-range .ui-slider-range {
    background: deeppink;
}

#slider-range .my-pink-slider {
  width: 18em;
  background: #FFC0CB;
  background-color: pink;
  color: deeppink;
  padding: 400px 0 0 0;
}

#slider-range .ui-slider-horizontal .ui-btn-inner {
  width: 18em;
  background-color: pink;
  color: deeppink;
  padding: 400px 0 0 0;

}

#slider-range .ui-widget-handle {
  background: url("../docs/pink-heart.svg");
}

#slider-range .ui-slider-popup {
    background-color: pink;
    color: deeppink;
    width: 18em;
    position: absolute;
    height: 64px;
    text-align: center;
    font-size: 36px;
    padding-top: 10px;
    z-index: 100;
    opacity: 0.8;
}

.node:hover{
  stroke-width: 3px !important;
  /*stroke: white !important; */
  opacity: 1 !important;
}
